:root {
    background-color: #2389ff;
}

body {
    background-color: #0073f7;
    color: white;
    font-family: sans-serif;
}

a { text-decoration: none;
    color: unset;
    cursor: default;
}

.centered-row {
text-align: center;
}

.table-title {
    padding: 8px;
    border-radius: 3px;
    font-size: 15px;
}

.anime-table {
    margin: 40px;
    background-color: white;
    color: black;
    text-align: center;
}

.reset-button {
--primary-red: #ff0000;
    margin-left: 10px;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.load-bar{
    display: block;
    margin: auto;
    padding-top: 100px;
}

.load-icon{
    display: block;
    margin: auto;

}

.menu-bar{
    background-color: rgb(26, 88, 139);
    display: flow-root;
    margin: 0.5px;
}

.menu-bar-items{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu-bar-items > li > a{
    float: right;
    padding: 10px;
    color: var(--primary-white);
}

.menu-bar-items > li a:hover{
    background-color: rgb(171, 196, 250);
    color: white;
}